.editorWrapper {
  position: relative;
  width: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.editor {
  width: 100%;
  min-height: 300px;
  border-radius: 10px;
  resize: vertical;
  outline: none;
  overflow: hidden;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
}
