.fancy {
  position: absolute;
  right: 0;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 5px;
  color: #aaa;
  border: 2px solid #aaa;
  background: #ffffff;
  transition-duration: 400ms;
  outline: none;
}
.fancy:hover {
  color: #000;
  border: 2px solid #000;
}

.fancy:active {
  color: #fff;
  background-color: #000;
}
