.fancy {
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  color: #aaa;
  border: 2px solid #aaa;
  background: #fff;
  transition-duration: 400ms;
  outline: none;
}
.fancy:hover {
  color: #1e1e3f;
  border: 2px solid #1e1e3f;
}

.fancy:active {
  color: #fff;
  background-color: #1e1e3f;
}
