.header {
  display: inline-block;
  width: 15%;
  min-width: 15%;
  display: flex;
  flex-direction: column;
}

.headerTitle {
  font-size: 2.9rem;
  text-align: center;
  color: #1e1e3f;
  font-weight: 900;
  font-family: "Comfortaa", cursive;
}
