.pane {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 17px;
  font-size: 3rem;
  color: #1e1e3f;
  font-family: "Dancing Script", cursive;
  text-align: justify;
}

.notes {
  flex-grow: 1;
  overflow-y: "auto";
  font-family: "Source Code Pro", monospace;
}
