.preview {
  width: 40%;
  line-height: 1.5;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  min-height: 95%;
  height: auto;
  font-family: "Source Serif Pro", serif;
  word-wrap: break-word;
  margin: 10px;
}
.preview h1,
.preview h2,
.preview h3,
.preview h4,
.preview h5,
.preview h6,
.preview p,
.preview body {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.preview h1 {
  font-size: 2rem;
}
.preview h2 {
  font-size: 1.9rem;
}
.preview h3 {
  font-size: 1.8rem;
}
.preview h4 {
  font-size: 1.7rem;
}
.preview h5 {
  font-size: 1.6rem;
}
.preview h6 {
  font-size: 1.5rem;
}

.preview body,
.preview p,
.preview ul,
.preview ol {
  font-size: 1.4rem;
}

.preview li {
  margin-left: 2rem;
}
